{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Entre no Sistema</h1>

    <form method="post" class="login-form">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="alert alert-danger">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}