<div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Mês</th>
                  <th scope="col">Total de Vendas</th>
                </tr>
              </thead>
              <tbody>
                {% for venda in vendas %}
                <tr>
                    
                  <td>{{venda["mes"]}}</td>
                <td>R$ {{ venda["valor total"] }}</td>
                  {% endfor %}
                </tr>
    
              </tbody>
            </table>
          </div>