<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Blog de Tecnologia</title>
</head>
<body>

<article>

    <h1>Como aprender Front-End</h1>

    <section>
        <h2>HTML</h2>
        <p>HTML é a estrutura das páginas.</p>
    </section>

    <section>
        <h2>CSS</h2>
        <p>CSS é responsável pelo visual.</p>
    </section>

    <section>
        <h2>JavaScript</h2>
        <p>JavaScript adiciona interatividade.</p>
    </section>

</article>

</body>
</html>